/*일반형제 인접자 (A~B) */
/*형제들 중 앞에 선택한 A선택자 뒤에 오는 B선택자들을 선택한다. 떨어져도 적용된다.*/
/* div 뒤에 있는 같은 계층의 span만 칠해진다. */
span ~ span {
  color: green;
}
/*인접형제 결합자 (A+B) */
/*형제들 중 앞에 선택한 A선택자 바로 뒤에 오는 B선택자를 선택한다. 떨어지면 적용되지 않는다.*/
/* p뒤의 span선택자를 선택한다. */
p + span {
  color: red;
}

ul {
  list-style: inside;
}