.container{
  display: flex;
  justify-content: center;
}


.box1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  color: white;
  height: 40px;
  padding: 10px 50px;
}




.sign_in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: green;
}